/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

// Custom colors

$e3-blue:                 #15cadb;
$e3-pink:                 #f41361;
$black:                   #000;

$navbar-height:                    71px;
$navbar-link-color:                $black;
$navbar-link-hover-color:          $e3-blue;

#bar { height: 40px; background-color:  $e3-blue;}

span.date { color: $e3-blue; text-transform: uppercase; font-weight:bold;}
.container {overflow: hidden;}
.navbar-nav{
   li{
      a{
      text-transform: uppercase;
      color: $black;
      font-weight: bold;
      }
    }
  }
#views-bootstrap-events-page-1 {
  h3 {
  font-size: 30px; color: $black;
  }
  img {
  -webkit-clip-path: polygon(0 1%, 100% 0%, 100% 55%, 0 38%);
  clip-path: polygon(0 1%, 100% 0%, 100% 55%, 0 38%);
  }
}

.datebox {
  background: #fff;
}
.header-image {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 43% 100%, 0 30%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 43% 100%, 0 30%, 0 0);
}

body {margin-top: 0 !important;}
