/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

// Custom colors

$e3-blue:                 #15cadb;
$e3-pink:                 #f41361;
$black:                   #000;
$headings-font-family:             FontAwesome;
$navbar-height:                    71px;
$navbar-link-color:                $black;


#bar { -webkit-clip-path: polygon(15% 0, 100% 0%, 100% 100%, 18% 100%);
 clip-path: polygon(15% 0, 100% 0%, 100% 100%, 18% 100%);
 background-color:  $e3-blue;
 height:40px;
 clip-path:("#bar-shape");
 }

h1 { color: #e3-blue;}
h2 { }
h3 {color: $black; font-weight: bold; margin-top:5px;}

.container {overflow: hidden;}
.navbar-nav{
   li{
      a{
      text-transform: uppercase;
      color: $black;
      font-weight: bold;
      }
    }
  }
#caption { left:20px;position: relative; top: -180px;}
#feature { margin-top:15px;}
.time {text-transform: uppercase; color: $e3-blue;font-weight: bold;}
#views-bootstrap-events-page-1 {
  img {
  -webkit-clip-path: polygon(0 1%, 100% 0%, 100% 55%, 0 38%);
  clip-path: polygon(0 1%, 100% 0%, 100% 55%, 0 38%);
  clip-path: url("#image-shape");
  }
}

.link  {margin-top:20px;border-top: 3px solid $e3-pink;color: $e3-pink; font-weight:bold;}
.link a { color: $e3-pink;}
.datebox {
background: #fff;
position: relative;
top: 30px;
left: 230px;
width: 121px;
height: 50px;
z-index:12912;
  -webkit-clip-path: polygon(0 1%, 100% 0%, 100% 55%, 0 38%);
  clip-path: polygon(0 1%, 100% 0%, 100% 55%, 0 38%);
}
.month { color: $e3-blue; text-transform: uppsercase; font-weight:bold;}

.view-header {
  img {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 25% 100%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 25% 100%, 0 0);
    clip-path: url("#clip-shape");
  }
}


